<!--
 * @Descripttion: 
 * @version: 
 * @Author: 王远昭
 * @Date: 2023-01-05 19:55:16
 * @LastEditors: 王远昭
 * @LastEditTime: 2023-01-10 13:36:26
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" />
    <link href="../style/css/bootstrap.min.css" rel="stylesheet">
    <link href="../style/css/element-plus.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../script/js/jquery.min.js"></script>
    <script src="../script/js/axios.min.js"></script>
    <script src="../script/js/bootstrap.bundle.min.js"></script>
    <script src="../script/js/vue.global.js"></script>
    <script src="../script/js/element-plus.full.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <title>删除商品</title>
</head>

<body>
    <div id="app">
        <!-- 导航栏 -->
        <div class="nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="./add.html">增加</a></li>
                <li><a href="./delete.html">删除</a></li>
                <li><a href="./update.html">修改</a></li>
                <li><a href="./query.html">查询</a></li>
                <li>
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="找点什么.." aria-label="Recipient's
                                username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><ion-icon
                                name="search-outline"></ion-icon></span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 删除表单 -->
        
    </div>
</body>

</html>